/****** Utilities *******/
/******* Global CSS *******/
.showcase-html-section {
  box-shadow: none;
}
@media only screen and (min-width: 1500px) {
  .showcase-html-section {
    font-size: 120%;
  }
}

.mobile-logo {
  position: initial;
}

/******* Templates *******/
/********* Main Page ************/
/********* Header **************/
.stories-header {
  display: flex;
}
.stories-header__banner {
  display: flex;
  background-image: url("https://www.weber.edu/wsuimages/ever-upward/images/banners/stories-top-banner-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  min-height: 600px;
  padding: 6vw;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .stories-header__banner {
    background-image: url("https://www.weber.edu/wsuimages/ever-upward/images/banners/stories-top-banner-2x.jpg");
  }
}
@media only screen and (max-width: 1023px) {
  .stories-header__banner {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .stories-header__banner {
    min-height: calc(100vh - 112px);
  }
}
.stories-header__page-intro {
  padding: 3em;
  margin: 2vw;
  flex: 3;
}
@media only screen and (min-width: 1025px) {
  .stories-header__page-intro {
    height: 400px;
    margin: auto 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  .stories-header__page-intro {
    padding: 3em 2em 2em;
  }
}
.stories-header__page-intro__title {
  font-family: "honest-designer", cursive !important;
  color: white !important;
  font-size: 4.2em !important;
  line-height: 1;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .stories-header__page-intro__title {
    font-size: 4em;
  }
}
.stories-header__page-intro__text {
  font-family: "tradegothiclt", sans-serif;
  font-size: 1.1em;
  color: #FFF;
}
.stories-header__call {
  padding: 3em;
  margin: 2vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(221, 220, 218, 0.9);
}
@media only screen and (min-width: 1025px) {
  .stories-header__call {
    height: 400px;
    margin: auto 2vw;
  }
}
@media only screen and (max-width: 1023px) {
  .stories-header__call {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    top: 0;
  }
}
.stories-header__call__subtitle {
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  color: #8446ac;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: center;
}
.stories-header__call__button {
  font-family: "tradegothicltcom-bdcn20", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0.5em !important;
}

section.padded-extreme-extra {
  padding: 7em 0.9em;
}
section.stories-intro--background {
  background-image: url("https://www.weber.edu/wsuimages/ever-upward/images/banners/pursuit-intro-section-background-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  section.stories-intro--background {
    background-image: url("https://www.weber.edu/wsuimages/ever-upward/images/banners/pursuit-intro-section-background-2x.jpg");
  }
}

/************* Story Cards ******************/
.card-module-story {
  align-items: start;
  /********* Stories Card - Full width **********/
  /********* Stories Cards - Content ***********/
}
.card-module-story__header {
  position: relative;
  background-color: #a391b1;
  background-clip: padding-box;
  border-top: 100px solid rgba(0, 0, 0, 0);
  height: calc(400px - 100px);
}
@media only screen and (max-width: 430px) {
  .card-module-story__header {
    height: calc(320px - 60px);
  }
}
.card-module-story__header__inner {
  position: absolute;
  bottom: 0;
}
.card-module-story__image {
  max-width: 400px;
}
@media only screen and (max-width: 430px) {
  .card-module-story__image {
    max-width: 320px;
  }
}
.card-module-story-full__header {
  position: relative;
  background-color: #492365;
  display: flex;
}
.card-module-story-full__header__between {
  width: 40%;
}
.card-module-story-full__header__inner {
  position: absolute;
  bottom: 0;
}
.card-module-story-full__header__image {
  width: 400px;
}
.card-module-story-full__header__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #492365;
  padding: 2em;
}
.card-module-story-full__header__quote__text {
  font-family: "tradegothiclt-bold", sans-serif;
  color: #dbd3e0;
  font-size: 2em;
  width: 70%;
  text-align: center;
  line-height: 1.4;
}
.card-module-story__content {
  padding: 20px 0 0 0;
  font-family: "tradegothiclt", sans-serif;
}
.card-module-story__program {
  margin-bottom: 0;
  font-family: "tradegothiclt", sans-serif;
  text-transform: uppercase;
}
.card-module-story__name.title-override {
  text-transform: uppercase !important;
  font-size: 1.7em;
  margin-bottom: 16px !important;
}
.card-module-story__lead-in {
  font-family: "tradegothiclt", sans-serif;
  font-size: 1.1em;
}

/***********Stories Cards - Media Queries *********/
@media only screen and (max-width: 1023px) {
  .card-module-story-full__header {
    flex-direction: column;
  }
  .card-module-story-full__header__between {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(400px - 200px);
    background-color: #dbd3e0;
    position: relative;
  }
  .card-module-story-full__header__quote {
    width: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .card-module-story-full__header__between {
    height: 45vw;
  }

  .card-module-story-full__header__quote__text {
    width: initial;
    font-size: 7vw;
  }
}
/*************** Brag Badges **********************/
.brag-badges {
  background-color: #c1a2d5;
}
.brag-badges__wrap {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 640px) {
  .brag-badges__wrap {
    flex-direction: column;
    padding: 0 16vw;
  }
}
.brag-badges__item {
  padding: 1em;
}

.brag-badges-slider__wrap {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 640px) {
  .brag-badges-slider__wrap {
    flex-direction: column;
  }
}
.brag-badges-slider__item {
  padding: 2em;
}
.brag-badges-slider__item__image {
  max-width: 350px;
}

/*************** Link List *****************/
.foot-links {
  background-color: #492365;
  padding-top: 40px;
}
.foot-links__title.title-override {
  font-family: "honest-designer", cursive !important;
  text-align: center;
  color: #FFF !important;
  font-size: 3em !important;
}

.foot-link-flex {
  display: flex;
  align-items: center;
}

.foot-link-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -ms-flex-pack: center;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .foot-link-buttons {
    flex-direction: column;
  }
}

.direc-link {
  text-align: center;
  font-size: 1.5em;
  margin: 0 20px 20px;
  text-transform: uppercase;
}

.direc-btn {
  margin-bottom: 0px;
  border-radius: 50%;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
}
.direc-btn__link {
  text-decoration: none !important;
}
.direc-btn__text {
  display: block;
  font-family: "tradegothiclt", sans-serif;
  color: #FFF !important;
  transition: all 0.3s linear;
  font-size: large;
}
.direc-btn__text:hover {
  color: #FFF !important;
}

.direc-btn:hover {
  transform: scale(1.08);
}

.direc-anchor {
  font-family: "tradegothiclt", sans-serif;
  color: #FFF !important;
  transition: all 0.3s linear;
  font-size: large;
}

a.direc-anchor:hover {
  color: #FFF !important;
}

svg.foot-icons {
  fill: #FFF;
  height: 130px;
  max-width: 100px;
}

svg.foot-icons:hover {
  fill: #FFF;
}

/********************** media queries *****************/
@media screen and (max-width: 1024px) {
  .foot-link-flex {
    border-right: none;
  }
}
@media only screen and (max-width: 480px) {
  .foot-link-buttons {
    flex-direction: column;
    align-items: center;
  }
}
/***** ui-global-styles wcpurp--bg colors *****/
.wcpurp--bg {
  background-color: #492365;
}

.wcpurp2--bg {
  background-color: #a491b2;
}

.wcpurp3--bg {
  background-color: #dbd3e0;
}

.wcpurp4--bg {
  background-color: #ece9ef;
}

.unigray3--bg {
  background-color: #dddcda;
}

/*used for fading/scaling in a set of 3 elements */
.fly-3 {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}
.fly-3:first-child {
  transition: all 300ms ease-in-out;
}
.fly-3:nth-child(2) {
  transition: all 500ms ease-in-out;
}
.fly-3:nth-child(3) {
  transition: all 700ms ease-in-out;
}

.show-block {
  opacity: 1;
  transform: translateY(0) scale(1) translate3d(0, 0, 0);
}

/* used on only one element fade only, no scale */
.fade-only {
  opacity: 0;
  transition: all 600ms ease-in;
  transform: translateX(100px) scale(1.05) translate3d(0, 0, 0);
}

.show-fade {
  opacity: 1;
  transform: translateX(0) scale(1) translate3d(0, 0, 0);
}

.hide-block {
  opacity: 0;
}

.archive-link {
  background-color: #dddcda;
}
.archive-link__flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.archive-link__button {
  padding: 1.2em 1.7em !important;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out !important;
  text-transform: uppercase;
  font-family: "tradegothicltcom-bdcn20", sans-serif;
}
/******* Modules *******/
/****** Custom Typography ********/
@font-face {
  font-family: "honest-designer";
  src: local("honest-designer");
  src: url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff2") format("woff2"), url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff") format("woff");
  /* Modern Browsers */
  unicode-range: U+0020-007E;
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
