/****** Utilities *******/
@import "../../ui-utilities-master/variables";
@import "../../ui-utilities-master/placeholders";
@import "../../ui-utilities-master/functions";
@import "../../ui-utilities-master/mixins";

/********* Main Page ************/
$top-space: 100px;
$top-space-narrow: 60px;
$image-width: 400px;
$image-width-narrow: 320px;
$image-square-archive: 300px;

$basic-text: $font-tg;

$padded-extreme-extra: 7em .9em;

$mobile-header-height: 112px;

$full-height-mobile: calc(100vh - #{$mobile-header-height});


.showcase-html-section {
  padding-top: 0;
}

.stories-header__page-intro__text {
  color: initial;
}

/***************flip cards*******************/
.story-flip-card:nth-child(odd) {
  .story-flip-card__inner {
	.story-flip-card__front, .story-flip-card__back {
	  background-color: wsu-palette($hlcolor-colors, 1);
	}
  }
}
.story-flip-card:nth-child(even) {
  .story-flip-card__inner {
	.story-flip-card__front, .story-flip-card__back {
	  background-color: #464945;
	}
  }
}
.story-flip-card-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}
.story-flip-card {
  display: flex;
  justify-items: center;
  align-items: center;
  //width: $image-square-archive;
  //height: $image-square-archive;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  position: relative;
  &__inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
  }
  &:hover &__inner {
	transform: rotateY(-180deg);
  }
  &__front, &__back {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
  }
  &__front {
	justify-content: center;
	align-items: flex-end;
	& > img {
	}
	&__text {
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	  z-index: 100;
	  width: 100%;
	  padding-top: 20px;
	  padding-left: 20px;
	  background-color: rgba(200, 200, 200, 0.5);
	  position: absolute;
	  bottom: 0;
	}
	&__name {
	  color: #FFFFFF !important;
	  text-transform: uppercase;
	  font-size: 1.5em !important;
	  white-space: nowrap;
	  max-width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	&__major {
	  color: #FFFFFF !important;
	  font-size: 1.1em;
	  white-space: nowrap;
	  max-width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
  }
  &__back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	transform: rotateY(180deg);
	justify-content: center;
	align-items: center;
	font-size: 1em;
	padding: 1em;
	&__blurb {
	  display: flex;
	  flex-direction: column;
	  align-items: stretch;
	  justify-content: center;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  max-width: 100%;
	  height: 75%;
	}
	&__link {
	  background-color: #FFFFFF;
	  color: wsu-palette($hlcolor-colors, 1) !important;
	  font-size: 1em;
	  &:hover {
		color: #FFFFFF !important;
	  }
	}
  }
}
.edit-button-wrapper {
  //display: none;
  justify-content: center;
}
.edit-button {
  margin: 1em;
}

.freeze-flip {
  transform: none;
}
