/********* Main Page ************/
$top-space: 100px;
$top-space-narrow: 60px;
$image-width: 400px;
$image-width-narrow: 320px;

$basic-text: $font-tg;

$padded-extreme-extra: 7em .9em;

$mobile-header-height: 112px;

$full-height-mobile: calc(100vh - #{$mobile-header-height});

/********* Header **************/
.stories-header {
  display: flex;
  &__banner {
	display: flex;
	@include bg-interchange-retina('https://www.weber.edu/wsuimages/ever-upward/images/banners/stories-top-banner-1x.jpg');
	@include bg-img-placement(right, center);
	min-height: 600px;
	padding: 6vw;
	@media #{$target-laptop-under} {
	  flex-direction: column;
	}
	@media #{$target-tablet-under} {
	  min-height: $full-height-mobile;
	}
  }
  &__page-intro {
	padding: 3em;
	margin: 2vw;
	flex: 3;
	@media #{$target-laptop-over} {
	  height: 400px;
	  margin: auto 2vw;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	@media #{$target-large-phone} {
	  padding: 3em 2em 2em
	}
	&__title {
	  font-family: 'honest-designer', cursive !important;
	  color: wsu-palette($wsuwhite-colors, 1) !important;
	  font-size: 4.2em !important;
	  line-height: 1;
	  text-align: center;
	  @media #{$target-large-phone} {
		font-size: 4em;
	  }
	}
	&__text {
	  font-family: $basic-text;
	  font-size: 1.1em;
	  color: #FFF;
	}
  }
  &__call {
	padding: 3em;
	margin: 2vw;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(221,220,218,.9);
	@media #{$target-laptop-over} {
	  height: 400px;
	  margin: auto 2vw;
	}
	@media #{$target-laptop-under} {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  top: 0;
	}
	&__subtitle {
	  font-family: $font-tgbc20;
	  color: wsu-palette($hlcolor-colors, 1);
	  font-size: 2em;
	  line-height: 1.2;
	  margin-bottom: 1.5rem;
	  text-align: center;
	}
	&__button {
	  font-family: $font-tgbc20;
	  text-transform: uppercase;
	  font-size: 1.5em;
	  padding: .5em !important;
	}
  }
}

section {
  &.padded-extreme-extra {
	padding: $padded-extreme-extra;
  }
  &.stories-intro--background {
	@include bg-interchange-retina('https://www.weber.edu/wsuimages/ever-upward/images/banners/pursuit-intro-section-background-1x.jpg');
	@include bg-img-placement(center, bottom);
  }
}

/************* Story Cards ******************/
.card-module-story {
  align-items: start;
  &__header {
	position: relative;
	background-color: #a391b1; //overwrite in html with #{$color[null-3]-bg}}
	background-clip: padding-box;
	border-top: $top-space solid rgba(0,0,0,0.0);
	height: calc(#{$image-width} - #{$top-space});
	@media only screen and (max-width: 430px) {
	  height: calc(#{$image-width-narrow} - #{$top-space-narrow});
	}
	&__inner {
	  position: absolute;
	  bottom: 0;
	}
  }
  &__image {
	max-width: $image-width;
	@media only screen and (max-width: 430px) {
	  max-width: $image-width-narrow;
	}
  }
  /********* Stories Card - Full width **********/
  &-full__header {
	position: relative;
	background-color: wsu-palette($wcpurp-colors, 1);
	display: flex;
	&__between {
	  width: 40%;
	}
	&__inner {
	  position: absolute;
	  bottom: 0;
	}
	&__image-wrap {
	}
	&__image {
	  width: $image-width;
	}
	&__quote {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: #492365;
	  padding: 2em;
	  &__text {
		font-family: $font-tgb;
		color: wsu-palette($wcpurp-colors, 3);
		font-size: 2em;
		width: 70%;
		text-align: center;
		line-height: 1.4;
	  }
	}
  }
  /********* Stories Cards - Content ***********/
  &__content {
	padding: 20px 0 0 0;
	font-family: $basic-text;
  }
  &__program {
	margin-bottom: 0;
	font-family: $basic-text;
	text-transform: uppercase;
  }
  &__name.title-override {
	text-transform: uppercase !important;
	font-size: 1.7em;
	margin-bottom: 16px !important;
  }
  &__lead-in {
	font-family: $basic-text;
	font-size: 1.1em;
  }
}

/***********Stories Cards - Media Queries *********/
@media only screen and (max-width: 1023px) {
  .card-module-story-full__header {
	flex-direction: column;
	&__between {
	  display: flex;
	  justify-content: center;
	  width: 100%;
	  height: calc(#{$image-width} - 200px);
	  background-color: wsu-palette($wcpurp-colors, 3);
	  position: relative;
	}
	&__quote {
	  width: 100%;
	}
  }
}

@media only screen and (max-width: 430px) {
  .card-module-story-full__header__between {
	height: 45vw;
  }
  .card-module-story-full__header__quote__text {
	width: initial;
	font-size: 7vw;
  }
}

/*************** Brag Badges **********************/
.brag-badges {
  background-color: wsu-palette($hlcolor-colors, 2);
  &__wrap {
	display: flex;
	justify-content: space-evenly;
	@media #{$target-large-phone} {
	  flex-direction: column;
	  padding: 0 16vw;
	}
  }
  &__item {
	padding: 1em;
  }
}

.brag-badges-slider {
  //background-color: wsu-palette($hlcolor-colors, 2);
  &__wrap {
	display: flex;
	justify-content: center;
	@media #{$target-large-phone} {
	  flex-direction: column;
	}
  }
  &__item {
	padding: 2em;
	&__image {
	  max-width: 350px;
	}
  }
}

/*************** Link List *****************/
.foot-links {
  background-color: wsu-palette($wcpurp-colors, 1);
  padding-top: 40px;
  &__title.title-override{
	font-family: 'honest-designer', cursive !important;
	text-align: center;
	color: #FFF !important;
	font-size: 3em !important;
  }
}

.foot-link-flex {
  display: flex;
  align-items: center;

}

.foot-link-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -ms-flex-pack: center;
  width: 100%;
  @media #{$target-large-phone} {
	flex-direction: column;
  }
}

.direc-link {
  text-align: center;
  font-size: 1.5em;
  margin: 0 20px 20px;
  text-transform: uppercase;
}

.direc-btn {
  margin-bottom: 0px;
  border-radius: 50%;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  &__link {
	text-decoration: none !important;
  }
  &__text {
	display: block;
	font-family: 'tradegothiclt', sans-serif;
	color: #FFF !important;
	transition: all 0.3s linear;
	font-size: large;
	&:hover {
	  color: #FFF !important;
	}
  }
}

.direc-btn:hover {
  transform: scale(1.08);
}

.direc-anchor {
  font-family: 'tradegothiclt', sans-serif;
  color: #FFF !important;
  transition: all 0.3s linear;
  font-size: large;

}

a.direc-anchor:hover {
  color: #FFF !important;
}

svg.foot-icons {
  fill: #FFF;
  height: 130px;
  max-width: 100px; //custom
}

svg.foot-icons:hover {
  fill: #FFF;
}

/********************** media queries *****************/

@media screen and (max-width: 1024px) {
  .foot-link-flex {
	border-right: none;
  }
}

@media only screen and (max-width: 480px) {
  .foot-link-buttons {
	flex-direction: column;
	align-items: center;
  }
}

/***** ui-global-styles wcpurp--bg colors *****/
.wcpurp--bg {
  background-color: wsu-palette($wcpurp-colors, 1);
}
.wcpurp2--bg {
  background-color: wsu-palette($wcpurp-colors, 2);
}
.wcpurp3--bg {
  background-color: wsu-palette($wcpurp-colors, 3);
}
.wcpurp4--bg {
  background-color: wsu-palette($wcpurp-colors, 4);
}

.unigray3--bg {
  background-color: wsu-palette($unigray-colors, 3);
}

/*used for fading/scaling in a set of 3 elements */
.fly-3 {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
  &:first-child {
	transition: all 300ms ease-in-out;
  }
  &:nth-child(2) {
	transition: all 500ms ease-in-out;
  }
  &:nth-child(3) {
	transition: all 700ms ease-in-out;
  }
}

.show-block {
  opacity: 1;
  transform: translateY(0) scale(1) translate3d(0, 0, 0);
}

/* used on only one element fade only, no scale */
.fade-only {
  opacity: 0;
  transition: all 600ms ease-in;
  transform: translateX(100px) scale(1.05) translate3d(0, 0, 0);
}

.show-fade {
  opacity: 1;
  transform: translateX(0) scale(1) translate3d(0, 0, 0);

}

.hide-block {
  opacity: 0;
}

.archive-link {
  background-color: wsu-palette($unigray-colors, 3);
  &__flex-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  &__button {
	padding: 1.2em 1.7em !important;
	font-size: 1.5em;
	transition: all 0.3s ease-in-out !important;
	text-transform: uppercase;
	font-family: $font-tgbc20;
	&:hover {
	  //transform: scale(1.03);
	}
  }
}




